---
import InteractiveImages from "./InteractiveImages.astro";
---

<div class="flex flex-row gap-8 justify-between items-center w-full">
  <div class="flex flex-col gap-4 md:shrink-0">
    <h1 class="text-[60px] source-serif-4-super-light leading-16">
      Design it for <span class="source-serif-4-medium-italic">humans</span><br
      />
      and build it for <span class="source-serif-4-medium-italic">impact</span><br
      />
    </h1>
    <p class="md:max-w-[600px] flex-1">
      From building seamless UIs to automating complex systems, <br />I build
      digital experiences that are fast, intuitive, and built to last
    </p>
  </div>
  <InteractiveImages />
</div>
