---
import InteractiveImagesV2 from "./InteractiveImagesV2.jsx";
// import InteractiveImages from "./InteractiveImages.jsx";
import HeroText from "./HeroText.astro";
---

<div class="w-full h-[70vh]">
  <InteractiveImagesV2 client:visible>
    <HeroText />
  </InteractiveImagesV2>
</div>
