---
import InteractiveImages from "./InteractiveImages.astro";
import Pill from "./Pill.astro";
---

<div
  class="flex flex-col min-h-[400px] md:min-h-[500px] justify-center text-[30px] md:text-[40px]"
>
  <div class="flex flex-col gap-4">
    <div
      class="flex flex-row flex-wrap items-center gap-2 source-serif-4-super-light leading-10"
    >
      Hi,
      <Pill
        mainImage="https://fonts.gstatic.com/s/e/notoemoji/latest/1f44b/512.webp"
        fallbackImage="https://fonts.gstatic.com/s/e/notoemoji/latest/1f44b/512.gif"
      />
      I am <span class="source-serif-4-regular-italic">Kabir Singh Mehrok</span>
    </div>
    <div
      class="flex flex-row items-center gap-2 flex-wrap source-serif-4-super-light leading-16"
    >
      <span>I blend</span>
      <Pill
        text="software"
        mainImage="https://fonts.gstatic.com/s/e/notoemoji/latest/1f47e/512.webp"
        fallbackImage="https://fonts.gstatic.com/s/e/notoemoji/latest/1f47e/512.gif"
        isTextOut="true"
      />
      <span>and</span>
      <Pill
        text="design"
        mainImage="https://fonts.gstatic.com/s/e/notoemoji/latest/270f_fe0f/512.webp"
        fallbackImage="https://fonts.gstatic.com/s/e/notoemoji/latest/270f_fe0f/512.gif"
        isTextOut="true"
      />
      <span>to build products with</span>
      <Pill
        text="impact"
        mainImage="https://fonts.gstatic.com/s/e/notoemoji/latest/1f4aa/512.webp"
        fallbackImage="https://fonts.gstatic.com/s/e/notoemoji/latest/1f4aa/512.gif"
        isTextOut="true"
      />
    </div>
  </div>
</div>
