---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseLayout from '../layouts/BaseLayout.astro';
import Experience from '../components/Experience.astro';
---

<BaseLayout>
  <div class="flex flex-row gap-4 items-center">
    <h1 class="text-9xl font-serif font-light hero-text">Hola</h1>
    <picture>
      <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f600/512.webp" type="image/webp">
      <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f600/512.gif" alt="😀" width="160" height="160">
    </picture>
  </div>
  <div>
    <p class="text-[35px] font-sans font-light leading-10 tracking-wider">
      I am software developer and design enthusiast, who loves to build user first experiences
    </p>
  </div>
  <div class="mt-20">
    <div class="flex flex-col gap-2">
      <h2 class="text-[30px] font-sans leading-none">Experience</h2>
      <Experience 
        start="July 2024"
        end="Present" 
        jobTitle="Software Engineer" 
        company="Ripik.ai" 
        description="Built AI dashboards and Vision AI edge models for top manufacturers; led config-driven frontend shift, cutting dev time 90%; productized use cases; streamlined client deployments and dev-to-deploy pipelines." 
      />
    </div>
    
  </div>
</BaseLayout> 
