---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/landing/Hero.astro";
import ExperienceSection from "../components/landing/ExperienceSection.astro";
import ProjectSection from "../components/landing/ProjectSection.astro";
---

<BaseLayout>
  <div class="mt-20">
    <div class="flex flex-col gap-24">
      <Hero />
      <ExperienceSection />
      <ProjectSection />
    </div>
  </div>
</BaseLayout>
