---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav
    class="mx-auto flex flex-col sm:flex-row items-start sm:items-center justify-center sm:justify-between min-h-[100px] flex-wrap"
  >
    <img src="/logo-black.svg" alt="kabirsingh.me" class="h-10" />
    <div class="flex flex-wrap gap-2 md:gap-4 items-center md:mt-0 mt-4">
      <HeaderLink href="/">home</HeaderLink>
      <HeaderLink href="/blog">blog</HeaderLink>
      <HeaderLink
        href="https://www.linkedin.com/in/kabirsinghmehrok/"
        linkType="external">linkedin</HeaderLink
      >
      <HeaderLink linkType="external" href="https://github.com/kabirsinghmehrok"
        >github</HeaderLink
      >
      <HeaderLink
        href="https://drive.google.com/file/d/10YP56w1LN1_AoXny-gxmvt8DRo1I0Tx1/view?usp=sharing"
        >resume</HeaderLink
      >
    </div>
  </nav>
</header>
