---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class="md:w-[836px] px-[36px] mx-auto flex flex-col sm:flex-row items-start sm:items-center justify-center sm:justify-between min-h-[100px] flex-wrap">
		<img src="/logo-black.svg" alt="kabirsingh.me" class="h-10" />
		<div class="flex gap-2 items-center">
			<HeaderLink href="/">home</HeaderLink>
			<!-- <HeaderLink href="/blog">blog</HeaderLink> -->
      <HeaderLink href="https://www.linkedin.com/in/kabirsinghmehrok/">linkedin</HeaderLink>
      <HeaderLink href="https://github.com/kabirsinghmehrok">github</HeaderLink>
			<HeaderLink href="https://drive.google.com/file/d/1_uDvBTXZ2bUE1H02h35NkZkUBFT5zzYK/view?usp=sharing" target="_blank" rel="noopener noreferrer">resume</HeaderLink>
		</div>
	</nav>
</header>
