---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class="w-[320px] md:w-[800px] mx-auto flex items-center justify-between min-h-[100px] flex-wrap">
		<a class="text-sm font-sans mb"><b>kabirsingh.me</b>hrok</a>
		<div class="flex gap-2 items-center">
			<HeaderLink href="/">home</HeaderLink>
			<HeaderLink href="/blog">blog</HeaderLink>
			<HeaderLink href="/about">resume</HeaderLink>
		</div>
	</nav>
</header>
