---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <div
      class="max-w-[880px] px-[20px] mx-auto lg:border-r lg:border-l border-gray-300 border-dashed"
    >
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
